In [7]:
import re
import os
import numpy as np
import pandas as pd
from pandas import DataFrame as df

au2kcal = 627.50957099203276

In [8]:
DIR_CSV = '../CSV_FILES/'

In [9]:
SYSTEMS =['ETHYL','ISOPROPYL','ISOBUTYL','TERTBUTYL','NEOPENTYL','CYCLOHEXYL','CYCLOHEXENYL',
           'CYCLOHEXADIENYL']
GS = ['R+O2','ROO','QOOH','cy-Ether+OH','Alkene+OOH']
TS = ['TS_01','TS_02','TS_03','TS_04']
SPECIES =['R+O2','ROO','QOOH','cy-Ether+OH','Alkene+OOH','TS_01','TS_02','TS_03','TS_04']
VALUES = np.zeros((len(SPECIES),len(SYSTEMS)))
TABLE_2 = pd.DataFrame(VALUES,SPECIES,SYSTEMS)
for isystem in SYSTEMS:
    DATA = pd.read_csv(DIR_CSV+isystem+'_W1_Rxn_E.csv',index_col='SPECIES')
    DATA_TS =pd.read_csv(DIR_CSV+isystem+'_TS_W1_Rxn_E.csv',index_col='SPECIES')
    for index in TABLE_2.index:
        if index in GS:
            TABLE_2[isystem].loc[index] = round(DATA['W1'].loc[index],2)
        else:
            TABLE_2[isystem].loc[index] = round(DATA_TS['W1'].loc[index],2)

TABLE_2.index.name='SPECIES'
TABLE_2.to_csv('TABLE_W1.csv')
#TABLE_2.to_csv('TABLE_2_overleaf_style.csv', sep ='&')

In [10]:
pd.read_csv('TABLE_W1.csv')

,SPECIES,ETHYL,ISOPROPYL,ISOBUTYL,TERTBUTYL,NEOPENTYL,CYCLOHEXYL,CYCLOHEXENYL,CYCLOHEXADIENYL
0,R+O2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,ROO,-32.94,-34.58,-33.66,-35.65,-33.73,-35.45,-19.63,-11.13
2,QOOH,-16.39,-17.42,-22.52,-17.92,-17.18,-20.66,-5.37,-18.88
3,cy-Ether+OH,-32.58,-34.79,-41.78,-36.57,-36.73,-38.88,-21.12,-18.43
4,Alkene+OOH,-13.29,-13.28,-18.76,-13.55,-9.63,-15.92,-2.58,-27.01
5,TS_01,4.05,1.63,-3.29,0.68,-9.01,1.72,13.53,17.05
6,TS_02,-1.44,-3.42,-2.02,-5.36,33.16,-3.12,9.56,0.93
7,TS_03,0.44,-1.09,-7.59,-1.40,32.62,-4.52,8.75,-9.38
8,TS_04,-1.52,-4.74,-11.99,-6.74,0.71,-8.55,7.29,3.67